body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  width: 40%;
  padding: auto;
  color: #343a40;
  margin-top: 20px;
  font-size: 2.5rem;
  background-color: #fff;
  padding-top: 10px;
    padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
}
.video {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
}
.card-title {
  font-size: 1.5rem;
  color: #343a40;
  text-align: center;
}
.card-text {
  font-size: 1.2rem;
  text-align: center;
  color: #6c757d;
}

pre.card-text {
    white-space: pre-wrap; 
    font-size: 1rem;
    color: #6c757d;
    background-color: transparent;
    border: none;
  }